.HomePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
}

.HomePage h1 {
  font-size: 5em;
}

.HomePage a {
  margin: 10px 10px;
}

.HomePage p {
  margin-bottom: 20px;
}
